<div class="container">
  <h3>Vitajte na stranke planovania sluzieb.</h3>
  <div class="p-grid text">
    <div class="p-col-2"></div>
      <div class="p-col-8">
      - pre vytvorenie/vymazanie zamestnanca a upravu pravidiel pre zamestnanca kliknite na Zoznam zamestnancov, <br>
      - pre vytvorenie planu sluzieb na nasledujuci mesiac kliknite na Vytvorit sluzby, <br>
      - pre zobrazenie aktualneho planu sluzieb kliknite na Aktualne sluzby, <br>
      - ak sa budete chciet vratit na tuto stranku kliknite na Pomoc.
      </div>
    <div class="p-col-2"></div>
  </div>
</div>
